body{
    background-color: blueviolet;
}
h1{
    text-align: center ;
}
.text img{
    max-width: 100%;
}
.text_2{
    width: 400px;
    height: 200px;
    background-color: chartreuse;
    overflow: hidden;
    transition: all 4s;
}
.text_2:hover{
    background-color:red ;
    overflow: scroll;
}
.fa-apple-pay{
    color: seashell;
    font-size: 50px;
}